/* index.css or app.css */
body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto; 
    max-width: 100%;
}



@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
